<div id="<%= dom_id pet %>">
  <div>
    <strong>User:</strong>
    <%= pet.user_id %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= pet.name %>
  </div>

  <div>
    <strong>Species:</strong>
    <%= pet.species %>
  </div>

  <div>
    <strong>Sex:</strong>
    <%= pet.sex %>
  </div>

  <div>
    <strong>Breed:</strong>
    <%= pet.breed %>
  </div>

  <div>
    <strong>Date of birth:</strong>
    <%= pet.date_of_birth %>
  </div>

  <div>
    <strong>Microchip:</strong>
    <%= pet.microchip %>
  </div>

  <div>
    <strong>Neutered:</strong>
    <%= pet.neutered %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= pet.notes %>
  </div>

</div>
